<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1>Richie's Flight Booker</h1>

<%= form_tag root_url, method: 'get' do %>
<div class="row">
  <%= hidden_field_tag :search %>
  <div class="large-2 columns">
    <%= select_tag(:from_airport_id, options_for_select(@airport_options) , prompt: "To" ) %>
  </div>

  <div class="large-2 columns">
   <%= select_tag(:to_airport_id, options_for_select(@airport_options)) %>
  </div>

  <div class="large-2 columns">
       <%= select_tag(:start, options_for_select(@dates)) %>
  </div>

  <div class="large-2 columns">
   <%= select_tag :passengers, options_for_select({"1" => 1, "2" => 2, "3" => 3, "4" => 4}) %>
      
  </div>
   
  <div class="large-4 columns">
    <%= submit_tag "Search", :name => nil, class: "button" %>
  </div>
</div>
<% end %>
<% if @searching %>
<%= form_tag root_url, method: 'get' do %>
  <div class="row">
  <table>
  <thead>
    <tr>
      <th width = "50">Select</th>
      <th width ="110">Flight #</th>
      <th width ="150">Date</th>
      <th width ="150">Departs</th>
      <th width ="110">From</th>
      <th width ="110">To</th>
      <th width ="110">Duration</th>
    </tr>
  </thead>

    <% @matched_flights.each do |flight| %>
      <tbody>
        <tr>
          <td><%= radio_button_tag :flight_id, flight.id %></td>
          <td><%= flight.id %></td>
          <td><%= flight.start.strftime("%B %d, %Y")  %></td>
          <td><%= flight.start.strftime('%I:%M:%S %p') %></td>
          <td><%= flight.from_airport.code %></td>
          <td><%= flight.to_airport.code %></td>
          <td><%= distance_of_time_in_words(flight.duration) %></td>
        </tr>      
      </tbody>
    <% end %>
    </table>
    <%= submit_tag "Select Flight", :name => nil, class: "button" %>
    <%= hidden_field_tag :passengers, params[:passengers] %>

  </div>
<% end %>
<% end %>



</div>
</div>
